* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.App {
  overflow: hidden;
}

/* .item-img {
  height: 150px;
} */

.item-row {
  height: 95vh;
  overflow: scroll;
}
